python-dotenv
langchain-google-genai
langchain-groq
google.generativeai
langchain_core
langchain_community
langchain
chromadb
wikipedia
youtube_search
langchain_huggingface
sentence-transformer
faiss-cpu
langgraph
streamlit
duckduckgo-search
tiktoken
